@font-face {
  font-family: "heading-font";
  src: url("./assets/SF-Pro-Text-Bold.otf");
}

@font-face {
  font-family: "body-font";
  src: url("./assets/SF-Pro-Text-Regular.otf");
}

* {
  font-family: "body-font";
}

body {
  background-color: #f7f7f7;
}

h1, .header-title {
  font-family: "heading-font";
  letter-spacing: -1.5px;
}

.header {
  font-size: 1.5rem;
  background-color: #e9e9e9;
  padding: 16px 0px;
}

.welcome-banner {
  background-color: #188150;
  color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-10 {
  padding: 3rem;
}

.mx-10 {
  margin: 0rem 3rem;
}

.px-10 {
  padding: 0rem 3rem;
}

.border-10 {
  border-style: solid;
  border-width: 1.5px !important;
}